---
Checks:          '-*,bugprone*,readability*,readability-identifier-naming,-readability-redundant-access-specifiers,performance*,modernize*,misc*,concurrency*,cppcore*,cert*,clang*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
CheckOptions:
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: 'true'
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.MemberCase: 'lowerBack'
  readability-identifier-naming.MemberPrefix: 'm_'
SystemHeaders:   false
...
